<!DOCTYPE html>
<html lang="en">
  <!--Header section-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Setting the title name-->
    <title>Portal</title>

    <!--Adding the icon to the site-->
    <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='Images/title_logo/favicon.png')}}">

    <!--Adding the style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Adding bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <!--Body Section-->
  <body>

    <!--Adiing  scripts to the site-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<script src="{{ url_for('static', filename='scripts/verify.js') }}"></script>

    <!--Navbar section-->
    <nav class="navbar navbar-expand-md navbar-dark bg-light sticky-top ">
      <div class="container-fluid" align="center">
        <a class="navbr-brand" href="{{ url_for('.home')}}"><img src="{{ url_for('static', filename='Images/title_logo/favicon.png')}}"></a>
        <div class="mr-auto disp_titles" align="center">
          <p style="font-size:20px;" color="gray" >Portal</p>
        </div>
        <button class="navbar-toggler" style="background-color:#B1B1B6;" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <button class="btn btn-outline-secondary">
                  <font>Home</font>
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Navbar end-->


    <!--Main content section-->
    <section class="container-fluid padding" id=home>

      <!--Intro-->
      <section class="row padding">
        <div class="col-lg-12" align="center">
          <div class="jumbotron jumbotron-fluid">
            <h3 class="display-4" style="color:#A9AFB1;"><strong>Welcome to Job Portal</strong></h3>
            <hr class="my-4">
            <p class="Lead" style="color:#A9AFB1;">
              Search job in a much smarter way
            </p>
          </div>
        </div>
      </section>
      <!--Intro end-->

      <!--Login form-->
      <section class="row padding" style="margin-top:-2rem;">
        <div class="col-lg-4 col-md-4 col-sm-12">
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 rounded" style="background-color : rgba(243, 250, 242, 0.4);">
          <span id="mseg" style="color:#6FD917">
    			{% if msg %}
    				{{ msg }}
    			{% endif %}
    			</span>
          <div class="box_3" align="center">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <font color="#65B700" size="5px" face="Courier New">
                  <strong>Signin</strong>
                </font>
              </div>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <input class="input100" id="email" type="email" name="email" placeholder="Email">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <span id="err_mail" style="color:#EC7063"></span>

            <div class="wrap-input100 validate-input" data-validate = "Password is required">
              <input class="input100" id="password" type="password" name="password" placeholder="Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <div id="err_pass" style="color:#EC7063">
              {% if us %}
                {{ us }}
              {% endif %}
            </div>

            <div class="container-login100-form-btn">
							<button class="login100-form-btn" id="login-btn" value="Login" onclick="email_verify()">Sign In</button>
						</div>

            <div class="mt-1">
    					<font color="#65B700"  face="Courier New">
    						<strong>or</strong>
    					</font>
    				</div>
    				<div class="ml-1 mr-1 mt-1">
    					<a class="" href={{ url_for('.signup') }}>Create an account</a>
    				</div>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
        </div>
      </section>

      <!--Login form end-->
    </section>

    <!--Main content end-->

    <!--Footer section-->

    <!-- Footer -->
    <footer class="page-footer font-small bg-light pt-4">

      <!-- Footer Elements -->
      <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="fb-ic mr-3" role="button"><i class="fab fa-md fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="tw-ic mr-3" role="button"><i class="fab fa-md fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="email-ic mr-3" role="button"><i class="far fa-md fa-envelope"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="li-ic mr-3" role="button"><i class="fab fa-md fa-linkedin-in"></i></a>
          </li>
        </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Company ∞</a>
  </div>
  <!-- Copyright -->

</footer>
    <!-- Footer -->

  </body>
</html>
